<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "fontstyle"href="https://www.dafontfree.net/embed/Z3Jlbm9ibGUtc2VyaWFsLWV4dHJhYm9sZC1yZWd1bGFyJmRhdGEvMzYvZy8xMzE5MzkvZ3Jlbm9ibGUtc2VyaWFsLWV4dHJhYm9sZC1yZWd1bGFyLnR0Zg" rel="stylesheet" type="text/css"/>"
    <title>
        login page
    </title>
    <link rel="stylesheet" href="demo.css">
</head>

<body class="background">
    
    <div id="up"></div>
    <div id="down"></div>
    <div id="left"></div>
    <div id="right"></div>
    <h1>K</h1>
    <h2>K</h2>
    
    <img id="pic1" src="heart.png" >
    <img id="pic2" src="heart.png">
    <img id="pic3" src="AK.png" >

    <div class="flip-card1" onclick="flipCard(this)">
        <div class="flip-card1-inner">
        <div class="flip-card1-front">
            <h3>LOGIN</h3>
            <h5>K</h5>
            <h6>K</h6>
            <div class="lineup"></div>
            <div class="linedown"></div>
            <div class="lineleft"></div>
            <div class="lineright"></div>
        </div>
        <div class="flip-card1-back">
            <h4>SIGN IN</h4>
            <h7>K</h7>
            <h8>K</h8>
            <div class="lineup1"></div>
            <div class="linedown1"></div>
            <div class="lineleft1"></div>
            <div class="lineright1"></div>
       </div>
    </div>
    
 <img id="joker" src="joker.jpg" alt="joker"> 
      


    <script src="demo.js"></script>
</body>
</html>