input[type=text] { 
    position: absolute;
    box-sizing: border-box;
    left: 20px;
    top: 30px;
    width: 420px;
   
}

.submit {

    position: absolute;
    top: 100px;
    justify-self: center;
    align-items: center;
    left: 110px;
}