body {
    text-align: center;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #040404;
}
.clickable-icon:focus{
    background-color: rgb(78, 76, 76);
    
}
.clickable-icon:not(:focus){
    background-color: #070707;
}
.containner {
    padding: 20px 35px 35px 35px;
    width: 900px;
    height: 600px;
    border-radius: 40px;
    background-color: #000000;
    box-shadow: 13px 13px 20px #1f1f1f, -13px -13px 20px #252424;
    position: fixed;
<<<<<<< HEAD:firstapp/src/homepage.css
 
=======
    left: 50%;
    transform: translateX(-50%);
    top: 0;
>>>>>>> ce6b6cebe4d7c911a35ac76b00671f2d4ae9e087:firstapp/src/ver1/homepage.css
}

a {
    text-decoration: none;
    color: #575757;
    text-transform: none;
    transition: 0.25s ease;
    font-size: 20px;
    right: 50px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
<<<<<<< HEAD:firstapp/src/homepage.css
    top: 60px;
    gap: 150px;
    left: 40%;
    position: absolute;
    
=======
    top: 0px;
    gap: 20px;

>>>>>>> ce6b6cebe4d7c911a35ac76b00671f2d4ae9e087:firstapp/src/ver1/homepage.css
}

ul li {
    text-decoration: none;
    margin: 0 1em 0 1em;
}

ul :hover a {
    color: #f7f4f4;
    border-bottom: 3px solid #8EAAFB;
}

ul :hover a :hover {

    box-shadow: 0 2px 0 0 currentColor;
}


.menu {
<<<<<<< HEAD:firstapp/src/homepage.css
    
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 280px;
    height: 635px;
    padding: 30px; 
    position:fixed;
    left: 15px;
    top: 100px; 
    border-right: 0.5px solid rgb(72, 71, 71);
    
}
  
=======
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 550px;
    padding: 10px;
    position: absolute;
    left: -5px;
    /* background-color: #8EAAFB; */

}


>>>>>>> ce6b6cebe4d7c911a35ac76b00671f2d4ae9e087:firstapp/src/ver1/homepage.css
.clickable-icon {
    width: 250px;
<<<<<<< HEAD:firstapp/src/homepage.css
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    top: 100px; 
    
    
    
     
}
p{
    color: #f7f4f4;
    padding: 15px;
    font-size: 20px;
}
.home ,.search ,.favorite ,.communities ,.notifications ,.messages{
    position: absolute;
    left: 30px;
    padding: 2px;
=======
    height: 30px;
    border-radius: 5px;
    color:#f0f7ff;
>>>>>>> ce6b6cebe4d7c911a35ac76b00671f2d4ae9e087:firstapp/src/ver1/homepage.css
}

.spider {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    padding: 0px;
}






