body {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  /* background-color: #000000; */
}

h {
  position: relative;
  top: 0px;
  color: white;
  font-size: 20px;
  left: -120px;
  font-weight: bold;
}

#containner {
  padding: 20px 35px 35px 35px;
  width: 900px;
  height: 650px;
  background-color: #000000;
  position: relative;
  top: 0px;
  left: 50px;
}

a {
  text-decoration: none;
  color: #575757;
  text-transform: none;
  transition: 0.25s ease;
  font-size: 20px;
  position: relative;
  top: 25px;
  text-align: center;
  left: 60px;
}

ul {
  position: absolute;
  display: flex;
  gap: 150px;
  list-style: none;
  top: 15px;
  height: 60px;
  left: -33px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

hr {
  position: relative;
  top: 90px;
  width: 499px;
  left: 53px;
  border-bottom: 0.5px solid rgb(72, 71, 71);
}

ul li {
  text-decoration: none;
  margin: 0 1em 0 1em;
}

ul :hover a {
  color: #f7f4f4;
  border-bottom: 3px solid #8eaafb;
}

ul :hover a :hover {
  box-shadow: 0 2px 0 0 currentColor;
}

#menu {
  width: 260px;
  height: 685px;
  padding: 10px;
  left: 5px;
  position: absolute;
  top: 0px;
}

#clickable-icon {
  background-color: #000000;
  width: 250px;
  height: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  top: 80px;
  position: relative;
  padding: 15px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */
}

#clickable-icon p {
  position: absolute;
  left: 25px;
}

lord-icon {
  position: absolute;
  top: 7px;
}

#clickable-icon:hover {
  background-color: #242525;
}

p {
  color: #f7f4f4;
  padding: 15px;
  font-size: 20px;
  margin-left: 30px;
  display: -webkit-inline-box;
}

.home,
.search,
.favorite,
.communities,
.notifications,
.messages {
  position: absolute;
  left: 30px;
} 

.spd {
  margin: 10px;
  position: absolute;
}

.spider {
  width: 65px;
  height: 65px;
  position: absolute;
}

.btn {
  border: 1px solid;
  color: #212020;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 180px;
  width: 250px;
  height: 60px;
  left: 16px;
  border-radius: 50px;
  bottom: 150px;
  box-shadow: -2px -2px 8px rgb(76, 74, 74),
    -2px -2px 12px rgba(89, 80, 80, 0.5),
    inset 2px 2px 4px rgba(83, 82, 82, 0.1), 2px 2px 8px rgba(97, 95, 95, 0.3);
}

.post {
  background-color: #000000;
}

.btn:hover {
  background-color: #212020;
  color: rgb(246, 243, 243);
}

@media (max-width: 450px) {
  #containner {
    padding: 20px;
  }
}

@media (min-width: 900px) {
  #containner {
    border-radius: 40px;
  }
}

.boom {
  position: absolute;
  left: 650px;
  color: white;
}

.tweetBox {
  position: absolute;
  left: 350px;
}

#card {
  position: fixed;
  right: 360px;
  height: 650px;
  width: 500px;
  background-color: #000000;
  top: 50px;
  border-radius: 40px;
  box-shadow: -2px -2px 8px rgb(76, 74, 74),
    -2px -2px 12px rgba(89, 80, 80, 0.5),
    inset 2px 2px 4px rgba(83, 82, 82, 0.1), 2px 2px 8px rgba(97, 95, 95, 0.3);
}

#card h {
  position: absolute;
  left: 35px;
  top: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0.7;
}
