.background {
    background-color: #000000;
    position: fixed;
    max-width: 100%;
    height: auto;
    display: block;
    
}

#up {
    position: fixed;
    top: 8%;
    width: 88%; 
    border-top: 0.2em solid #717274; 
    display: flex;
    left: 7%; 
}

#down {
    position: fixed;
    bottom: 8%; 
    width: 83%; 
    border-bottom: 0.2em solid #717274; 
    display: flex;
    left: 10%; 
}

#left {
    height: 56%; 
    position: fixed;
    color: gray;
    border-left: 0.2em solid #717274; 
    bottom: 20%; 
    left: 5%; 
}

#right {
    height: 68%; 
    position: fixed;
    color: gray;
    border-right: 0.2em solid #717274; 
    bottom: 24%; 
    right: 5%; 
}

h1 {
    color: #717274;
    position: fixed;
    font-size: 5em; 
    top: -5%; 
    left: 3%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:
    0 1px 0px #363636,
    1px 0 0px #363636,
    1px 2px 1px #363636,
    2px 1px 1px #363636,
    2px 3px 2px #363636,
    3px 2px 2px #363636,
    3px 4px 2px #363636,
    4px 3px 3px #363636,
    4px 5px 3px #363636;
}
h2 {
    color: #717274;
    position: fixed;
    font-size: 5em; 
    bottom: -6%; 
    right: 2%; 
    transform: rotateY(180deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:
    0 1px 0px #363636,
    1px 0 0px #363636,
    1px 2px 1px #363636,
    2px 1px 1px #363636,
    2px 3px 2px #363636,
    3px 2px 2px #363636,
    3px 4px 2px #363636,
    4px 3px 3px #363636,
    4px 5px 3px #363636;
}

#pic1 {
    position: fixed;
    top: 13.5%;
    height: 9%;
    left: 3%;
   

}

#pic2 {
    position: fixed;
    height: 9%;
    bottom: 14%;
    right: 2.5%;
    transform: rotate(180deg);
}
#pic3 {
    position: fixed;
    height: 25%; 
    left: 0%;
    bottom: 0%;
    
}

#pic4 {
    position: fixed;
    height: 82%;
    width: 25%;
    top: 9%;
    right: 6%;
    z-index: -1;
    
}

#pic5 {
    position: fixed;
    height: 35px;
    top: 160px;
    left: 51%;
}

#pic6 {
    position: absolute;
    height: 35px; 
    bottom: 50px; 
    right:5% ;
    transform: rotate(180deg);

}

@media screen and (max-width: 768px) {
    h1, h2 {
        font-size: 3em; 
    }
    
    #pic1, #pic2, #pic3 {
        size: 3em;
    }
    
}

@media screen and (max-width: 1000px){
    #pic4 {
        display: none;
    }
}

#form {
    position: fixed;
    width: 300px; 
    height: 500px; 
    background-color:  #b5b5b5;
    left: 50%;
    top: 15%;
    border-radius: 40px;
    box-shadow: 5px 5px 8px rgb(70, 68, 68);
}

h3 {
    position: absolute; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    left: 30%; 
    top: 20px; 
    color: #717274;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    
}

#joker {
    position: fixed; 
    height: 70%;
    width: auto; 
    top: 15%; 
    left: 30%; 
    z-index: -1;
    transform: rotate(-20deg);
    box-shadow: 10px 10px rgba(245, 244, 244, 0.5);
}


h5 {
    position: absolute;
    font-size: 40px;
    color: rgb(0, 0, 0);
    left: 5%; 
    top: -50px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */
    text-shadow: 
    -1px -1px 1px #b4afaf, 
    2px 2px 1px #363636;
}

h6 {
    position: absolute;
    font-size: 40px;
    transform: rotate(180deg);
    right: 5%;
    bottom: -80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */
    text-shadow: 
    -1px -1px 1px #b4afaf, 
    2px 2px 1px #363636;
}




